/* Descriptive Styles */

.beige {
    color: $beige;
}

.brown {
    color: $brown;
}

.white-tr {
    color: $white-tr;
}

.light-grey {
    color: $light-grey;
}

.beige-bg {
    background-color: $beige;
}

.gold-gradient-bg {
    background: rgb(253, 184, 17);
    background-image: $gold-gradient;
}

.uppercase {
    text-transform: uppercase; 
}

.menu-offset {
    margin-top: 70px;
}

.home-box-padding {
    padding-top: 50px;
    padding-bottom: 40px;
}

.text-behind {
    z-index: 1;
}

.text-front {
    z-index: 2;
    margin-top: -25px;
    margin-left: 16px;
    color: $brown;
}