/* General site-wide styles */

body {
    position: relative;
    font-size: 16px;
    font-family: $font;
    color: $grey; 
    height: 100%; 
}

a, a:hover {
    color: $brown;
}

.content-area {
    position: relative;
    padding-top: 120px;
    padding-bottom: 50px;
    overflow: hidden;
    min-height: 100vh;
}

.entry-title {
    margin-bottom: 40px;
    text-transform: uppercase;
    color: $brown;
    font-weight: 700;
}

.owl-carousel {
    margin-top: 20px;
}

.owl-stage-outer {
    padding-bottom: 15px;
}

#carousel-box > div > div.owl-dots > .owl-dot > span {
    width: 14px;
    height: 14px;
    background-color: $white-tr;
}

#carousel-box > div > div.owl-dots > button.owl-dot.active > span {
    background-color: #fff;
}

.featured-img {
    position: relative;
    width: 100%;
    padding-top: 100%;
    background-color: $beige;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
    margin-bottom: 12px;
}

.featured-img img {
    margin-top: -100%;
    padding: 12px;
}

.home-title {
    font-weight: 700;
    font-size: 46px;
}

#popular-now {
    margin-left: 45px;
    font-size: 26px;
}

p .fa-long-arrow-right {
    color: $white-tr;
    margin-left: 8px;
    animation: slide-right 2s ease infinite;
}

@keyframes slide-right {
    0%   { margin-left: 8px; }
    50% { margin-left: 16px; }
}

#collections div.col-xs-12.col-md-4 {
    padding: 25px;
}

.collections-img-wrap {
    position: relative;
    max-width: 435px;
    margin: auto;
}

.collections-img-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: background-color 0.4s;
}

.collections-img-wrap:hover 
.collections-img-overlay {
    background-color: rgba(0, 0, 0, 0.4);
}

.collections-heading {
    position: absolute;
    color: #fff;
    width: 100%;
    height: 20%;
    background-color: rgba(95, 49, 5, 0.4);
    border-bottom: 1px solid #fff;
    transition: height 0.6s;
}

.collections-img-wrap:hover 
.collections-heading {
    height: 60%;
}

.collections-heading h2 {
    margin-top: 5%;
}

.collections-img-wrap .fa-search {
    position: absolute;
    opacity: 0;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 52px;
    transition: opacity 1s;
}

.collections-img-wrap:hover .fa-search {
    opacity: 0.6;
}

#who-we-are,
#where-we-are {
    margin-top: -100px;
}

#who-where h1 {
    margin-bottom: 20px;
}

#who-where p {
    color: rgba(255, 255, 255, 0.8);
    margin-left: 40px;
    font-size: 18px;
}

#who-carousel {
    margin-top: -80px;
}

#who-carousel img {
    height: 300px;
    margin: auto;
    border: 5px solid rgba(255, 255, 255, 0.8);
}

#address a {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: underline;
}

#open-map {
    width: 100%;
    height: 300px;
    margin-bottom: 30px;
    border: 5px solid rgba(255, 255, 255, 0.8);
}

#logo-full {
    margin-top: 25px;
    margin-bottom: 40px;
    width: 300px;
}

footer {
    text-transform: uppercase;
}

.footer-sct-1 {
    padding: 25px;
}

.footer-sct-1 a,
.footer-sct-1 span {
    color: $grey;
    margin: 0 10px;
}

.footer-sct-1 .social {
    margin: 0 2px;
}

.footer-sct-2 {
    padding: 12px 0 10px 0;
}

.footer-sct-2 a,
.footer-sct-2 span {
    color: rgba(255, 255, 255, 0.7);
    margin: 0 10px;
}
