/* Buttons and forms */

#sbi_load .sbi_load_btn {
    background-color: $brown !important;
    padding: 15px !important;
    border-radius: 0 !important;
    font-family: $font !important;
    font-weight: 700 !important;
    font-size: 18px !important;
    letter-spacing: 0.025em;
    text-transform: uppercase;
}

#sbi_load > a:hover {
    box-shadow: none !important;
    border-radius: 15px !important;
}

.btn-brown,
input.wpcf7-form-control.wpcf7-submit, 
.search-form .search-submit {
    background-color: $brown;
    color: #fff;
    padding: 15px;
    border: none;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.025em;
    transition: border-radius 0.4s;
}

.btn-brown {
    position: absolute;
    margin-left: 17px;
}

.btn-brand {
    position: relative;
    display: block;
    margin: 15px 0;
    width: 200px;
    height: 55px;
}

input.wpcf7-form-control.wpcf7-submit {
    margin-left: 0;
}

.btn-brown:hover,
input.wpcf7-form-control.wpcf7-submit:hover {
    border-radius: 15px;
    text-decoration: none;
    color: #fff;
}

.btn-brown:active,
input.wpcf7-form-control.wpcf7-submit:active {
    border-radius: 0;
    text-decoration: none;
    color: #fff;
}

.search-form .screen-reader-text {
    display: none;
}

.search-form .search-field {
    height: 55px;
    padding-left: 20px;
    width: 100%;
}

.search-form label {
    width: 75%;
}

.search-form .search-submit {
    width: 24%;
}