/* Main Menu Styles */

#pf-logo-mobile {
    display: none;
}

#navbar {
    border-radius: 0;
    margin-bottom: 0;
    z-index: 2;
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    transition: padding 0.4s;
}

#navbar-target {
    border: none;
}

.navbar-brand {
    margin: 0;
    padding: 0;
}

#pf-logo-desktop,
#pf-logo-mobile {
    margin-top: 5px;
    height: 40px;
}

#pf-logo-mobile {
    padding-left: 25px;
    display: none;
}

.fa {
    color: #777;
}

.fa a {
    font-family: $font;
}

// .fa-venus:before,
// .fa-mars:before,
// .fa-tag:before,
// .fa-info:before,
// .fa-map-marker:before,
// .fa-phone:before,
// .fa-search:before {
//     position: absolute;
//     margin-top: 16px;
// }

// .fa-mars:before {
//     margin-top: 15px;
//     margin-left: -3px;
// }

// .fa-tag:before {
//     transform: scaleX(-1);
//     margin-left: -2px;
// }

// .fa-tag a {
//     margin-left: 2px;
// }

// .fa-info:before {
//     margin-left: 3px;
// }

// .fa-phone:before {
//     margin-left: -2px;
// }

// .fa-search:before {
//     margin-top: 15px;
//     margin-left: -3px;
// }

