/* Styles for everything below 1200px */

/* 1200px and below */
@media only screen and (max-width : 1200px) {
    #popular-now {
        display: none;
    }

    #who-carousel {
        margin-top: 20px;
        margin-bottom: 30px;
    }
}

/* 992px and below */
@media only screen and (max-width : 992px) {
    body {
        font-size: 15px;
    }

    #pf-logo-desktop {
        display: none;
    }
    
    #pf-logo-mobile {
        display: block;
    }
}

/* 768px and below */
@media only screen and (max-width : 768px) {
    body {
        font-size: 14px;
    }

    #navbar-target {
        padding-left: 25px;
    }

    #where-we-are {
        margin-top: 0;
    }

    #open-map {
        margin-top: 20px;
    }

    #logo-full {
        display: none;
    }

    #have-a-question {
        padding-bottom: 100px;
    }
}

/* 550px and below */
@media only screen and (max-width : 550px) {

    .content-area {
        padding-left: 10px;
        padding-right: 10px;
    }

    #who-where p {
        margin-left: 20px;
    }

    .footer-sct-1 {
        padding: 10px;
    }

    .footer-sct-1 span {
        display: block;
    }

    .footer-sct-2 span {
        display: block;
    }

    .product img {
        max-width: 300px;
        max-height: 300px;
    }
}

@media only screen and (max-width : 420px) {
    .home-title {
        font-size: 42px;
    }
}

@media only screen and (max-width : 350px) {
    .home-title {
        font-size: 36px;
    }
}



