/* Woocommerce customizations */

.woocommerce ul.products li.product, 
.woocommerce-page ul.products li.product {
    border: 1px solid #ddd;
}

.woocommerce ul.products li.product a img {
    padding: 0.5em;
    margin: 0;
}

.woocommerce div.product div.images img {
    padding: 0.5em;
    border: 1px solid #ddd;
    margin: 0.5em;
}

.woocommerce-product-gallery__image {
    margin: 0.5em;
}

.woocommerce ul.products li.product .woocommerce-loop-product__title {
    margin-left: 0.5em;
}

.woocommerce-tabs {
    margin-bottom: 50px;
}

span.price,
select.orderby,
.add_to_cart_button,
a.button.product_type_simple,
.woocommerce ul.products li.product .price,
.woocommerce-Price-amount.amount,
.woocommerce .quantity .qty,
.woocommerce div.product form.cart .button,
.woocommerce div.product form.cart,
nav.woocommerce-breadcrumb {
    display: none;
}

