/*!
Theme Name: Paul Fitzpatrick Footwear
Theme URI: http://paulfitzpatrickfootwear.com/
Author: David Matthew
Author URI: https://davidmatthew.ie
Description: A custom theme built for Paul Fitzpatrick Footwear
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: pf-footwear
*/

/* Sass Variables */
$beige: #efeae7;
$brown: #5f3105;
$grey: #777;
$light-grey: #ccc;
$gold-gradient: radial-gradient(ellipse, #fdb811, #f3a307);
$white-tr: rgba(255, 255, 255, 0.4);
$font: 'Roboto Condensed', sans-serif;

@import 'desc';
@import 'general';
@import 'nav';
@import 'inputs';
@import 'woocommerce';
@import 'responsive';
